
project-2016-home/project/MAC_VERSIONS/assimp_log.txt

project-2016-home/project/MAC_VERSIONS/bitmap.o

project-2016-home/project/MAC_VERSIONS/InitShader.o

.smbdeleteAAA4cb9d7

project-2016-home/project/MAC_VERSIONS/libassimp.3.dylib

project-2016-home/project/MAC_VERSIONS/libassimp.dylib

.smbdeleteAAA4cb9d4

project-2016-home/project/MAC_VERSIONS/scene-start

project-2016-home/project/MAC_VERSIONS/scene-start.dSYM/Contents/Info.plist

project-2016-home/project/MAC_VERSIONS/scene-start.dSYM/Contents/Resources/DWARF/scene-start
